@font-face {
    font-family: MontserratB;
    src: url('/resources/fonts/montserrat-bold.ttf') format('truetype');
}

@font-face {
    font-family: MyMonaco;
    src: url('/resources/fonts/monaco.ttf') format('truetype');
}
