body {
    background-color: #dddddd;
}

body.dark {
    background-color: #333333;
}

#header {
    margin: auto;
    width: 1100px;
    height: 150px;
}

#contents {
    margin: auto;
    width: 1100px;
}

#title {
    float: left;
    margin: 20px 0px;
    width: 1050px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    font: 35px MontserratB;
    color: #333333
}

#title div {
    line-height: 50px;
    vertical-align: middle;
}

#subtitle {
    float: left;
    margin: 10px 0px;
    width: 1050px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font: 20px MontserratB;
    color: #333333
}

#subtitle div {
    line-height: 20px;
    vertical-align: middle;
}

body.dark #title {
    color: #dddddd
}

body.dark #subtitle {
    color: #dddddd
}

.dark-mode-btn {
    float: right;
    margin: 25px 0px;
    width: 50px;
    height: 50px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-color: #dddddd;
}

.dark-mode-btn:hover {
    background-color: #cccccc;
    cursor: pointer;
}

body.dark .dark-mode-btn {
    background-color: #333333;
}

body.dark .dark-mode-btn:hover {
    background-color: #444444;
}

.dark-mode-btn-svg {
    color: #dddddd;
    background-color: rgba(255, 255, 255, 0);
    fill: #555555;
}

body.dark .dark-mode-btn-svg {
    color: #333333;
    background-color: rgba(255, 255, 255, 0);
    fill: #ffffff;
}

#editor-container {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background-color: #cccccc;
}

body.dark #editor-container {
    background-color: #282828;
}

#editor {
    height: 400px;
}

#editor-controls {
    margin: 5px 0px;
    height: 42px;
    background-color: #fffffe;
}

body.dark #editor-controls {
    background-color: #1e1e1e;
}

#editor-tab-java {
    left: 20px;
    color: #dddddd;
    background-color: #3333aa;
    border-color: #222299;
}

#editor-tab-kotlin {
    left: -10px;
    color: #333333;
    background-color: #00aa00;
    border-color: #009900
}

.editor-tab {
    position: relative;
    float: left;
    top: 6px;
    padding: 0px;
    width: 140px;
    height: 30px;
    border: 4px solid;
    border-radius: 22px;
    text-align: center;
    line-height: 22px;
    font: 17px "MontserratB";
    font-weight: bold;
}

.editor-tab:hover {
    cursor: pointer;
}

.editor-tab.selected {
    z-index: 1;
}

.editor-run-btn {
    position: relative;
    float: right;
    top: 1px;
    right: 20px;
    padding: 0px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background-color: #fffffe;
}

.editor-run-btn:hover {
    background-color: #eeeeed;
    cursor: pointer;
}

body.dark .editor-run-btn {
    background-color: #1e1e1e;
}

body.dark .editor-run-btn:hover {
    background-color: #2f2f2f;
}

.editor-run-btn-svg {
    margin: 3px;
    width: 34px;
    height: 34px;
    border: none;
    fill: #388e3c;
    background-color: rgba(255, 255, 255, 0);
}

#editor-output {
    margin: 0px;
    padding: 15px 30px;
    max-height: 400px;
    background-color: #fffffe;
    font: 18px MyMonaco;
    color: #333333;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: scroll;
}

body.dark #editor-output {
    background-color: #1e1e1e;
    color: #dddddd;
}

#editor-output::-webkit-scrollbar {
    background-color: #eeeeee;
}

#editor-output::-webkit-scrollbar-thumb {
    background-color: lightgray;
}

body.dark #editor-output::-webkit-scrollbar {
    background-color: #333333;
}

body.dark #editor-output::-webkit-scrollbar-thumb {
    background: gray;
}

#editor-output.hidden {
    display: none;
}
